<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/LatestProjects/FrontEndAutomationBdd">
        <classes>
            <class name="runner.bdd.calc.CalcTestSuite"></class>
            <class name="runner.bdd.sample.SampleTestSuite"></class>
        </classes>
    </test>
</suite>